safe_medilens_rag_agent part 2.json
{
  "name": "Medilens RAG Agent part 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6752,
        1248
      ],
      "id": "e9d825fc-ca03-4dd5-a99c-e0be09664505",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -6560,
        1200
      ],
      "id": "8e5c055f-210e-4220-9e41-afeb369aa0f3",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11a2fa1a-a65a-4806-b69c-96b9b7c90946",
              "leftValue": "={{ $json.output }}",
              "rightValue": "not satisfied",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ef2efd2b-4b4d-4485-b039-d70009f7d590",
              "leftValue": "={{ $json.output }}",
              "rightValue": "complain",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0bc5436d-9b92-4f48-ba05-4f918eb98690",
              "leftValue": "={{ $json.output }}",
              "rightValue": "customer service agent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c6ffb33a-376b-4ea9-8b5a-9160b11c7daf",
              "leftValue": "={{ $json.output }}",
              "rightValue": "talk",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2c7892bd-5e70-4ca6-ba06-a1c3a5b112a2",
              "leftValue": "={{ $json.output }}",
              "rightValue": "human",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7cced68e-c185-48b3-856b-6eb542373120",
              "leftValue": "={{ $json.output }}",
              "rightValue": "someone",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5712,
        1040
      ],
      "id": "b514e804-8aa1-47ae-8d5a-c4482da88526",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ff69681-8572-4296-88b6-dc1e598ec846",
              "name": "formatted_chat",
              "value": "={{ \n  $json.message && $json.message.type && $json.message.content\n    ? ($json.message.type === \"human\" \n        ? `\ud83d\udc64 User: ${$json.message.content}` \n        : $json.message.type === \"ai\" \n          ? `\ud83e\udd16 Bot: ${$json.message.content}` \n          : \"\u26a0\ufe0f No chat data found.\"\n      )\n    : \"\u26a0\ufe0f No chat data found.\"\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5008,
        736
      ],
      "id": "322a1679-c53e-4fe4-aadd-255d60ec40da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_chat_histories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('Validate API Key').item.json.body.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5296,
        736
      ],
      "id": "b85cf1ca-c67c-4af9-822c-48471f462ef7",
      "name": "Get many rows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5264,
        1200
      ],
      "id": "53c0862b-17e6-4ff8-977d-c044aad815d4",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "sendTo": "{{ALERT_EMAIL}}",
        "subject": "Customer Complain - Immediate Attention Required",
        "message": "=Hi there, I hope this message finds you well.  We have received a complaint from a customer regarding their recent interaction with our chatbot. The customer has expressed dissatisfaction and is requesting further assistance from a human representative.\nDetails: \n\nCustomer Name / ID: {{ $('Webhook').item.json.query.sessionId }}\n\nDate/Time of Interaction: {{ $now }}  \n\nSummary of Issue: {{ $json.data.map(item => item.formatted_chat).join(\"<br>\") }}\n\n The customer is upset and requires timely support. Kindly review the case and take the necessary actions to resolve their concerns.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4448,
        736
      ],
      "id": "5f217fff-a5f2-4175-8fec-38ca678fff61",
      "name": "Send a message",
      "webhookId": "364cf5e3-0b18-4a6f-9315-d2d520eadae6"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4752,
        736
      ],
      "id": "ee6ec71a-c9fd-4a6a-811f-12e6f1f016cc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "RAG AGENT\nThis RAG Agent will fetch the exact answers to our quries from our knowledge\nbase so this agent will not hallucinate like other LLMS and give the exact answers\nSupa base is used as data vector store\nPostgres is used to save the context.",
        "height": 848,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7264,
        704
      ],
      "id": "b2d4deab-d61f-41c6-bf9a-35986f6afcc2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##Save Chat History\nThis part of workflow will save all the conversational history\nbetween user and bot and send it to customer service agent \nfor better understanding\nComplaint replier agent will handle the complaints of the user\npatiently and calmly",
        "height": 944,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5840,
        672
      ],
      "id": "27404c3d-6673-47b1-b8da-93e224d370d1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "You are the Medilens Hospital virtual assistant.\nAlways greet users warmly without using a personal name.\nWhen someone says hello, hi, hey, or similar, reply with:\n\"Welcome to Medilens Hospital! How can I help you today? Would you like to know about our doctors, departments, or available services?\"\nKeep your tone professional, kind, and helpful.\nDo not introduce yourself by any name.\nwhen user ask any query, use the tool \"Supabase Vector Store\" to answer the question from knowledge base. if user ask questions that are not related to medilens hospital or its attached knowledge base, refuse to answer them humbly and polietly\n\n\nIf the retrieved context does not contain the answer, respond with: 'I\u2019m sorry, I could not find this information in our hospital knowledge base.' Do not guess or hallucinate. Only answer from the provided knowledge."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -6640,
        944
      ],
      "id": "abe1aec7-9d64-4938-ae55-633188e43f2b",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate API Key').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant. if someone told you about any complain or feel exhausted, angry or unsatisfied and want to forward a complain, then you respond humbly and patiently and response them that their complain has been sent forward. soon we will contact you"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -5280,
        1024
      ],
      "id": "11b5722d-8a42-4ed7-a0d8-fdfaf408d997",
      "name": "Complaint replier Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "RAG",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7168,
        848
      ],
      "id": "b1cb9b6b-6f13-43c7-8f2c-8fba1c3badcc",
      "name": "Webhook",
      "webhookId": "5fdc7e39-8047-4530-accd-2a7241e44fec"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4944,
        1024
      ],
      "id": "54d2db41-2758-4ab5-b124-9e5553b12a56",
      "name": "Respond to Website",
      "retryOnFail": true,
      "waitBetweenTries": 30
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}\n \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5328,
        1408
      ],
      "id": "bf746b7c-23dd-4a71-afcb-f226d8b8aafa",
      "name": "Respond to Website1",
      "retryOnFail": true,
      "waitBetweenTries": 30
    },
    {
      "parameters": {},
      "id": "034b719a-d46e-4618-9f27-e488009aee27",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -4256,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-api-key'] }}",
              "rightValue": "{{API_KEY}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "ea695f93-ddc4-4365-8e4e-eb0c1f8cb0f0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07f756fd-a14a-4394-919f-7c285210bb5a",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -6944,
        848
      ]
    },
    {
      "parameters": {
        "tableId": "rag_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Validate API Key').item.json.query.sessionId }}"
            },
            {
              "fieldId": "user_query",
              "fieldValue": "={{ $('Validate API Key').item.json.body.chatInput }}"
            },
            {
              "fieldId": "bot_response",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "aae17f2b-0de8-49c0-888a-4f7bbc23c46d",
      "name": "Insert RAG Logs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6176,
        784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -6976,
        1088
      ],
      "id": "a2a6f69d-4754-4c1f-b6b1-136c50719743",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve answers for the query from chat input",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "topK": 5,
        "options": {
          "pineconeNamespace": "medilens"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -6384,
        1168
      ],
      "id": "90910494-d1d1-45d8-85cd-1d9ceaafda4f",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6352,
        1328
      ],
      "id": "79744e1c-7d2e-4267-a090-331577a572b8",
      "name": "Embeddings Google Gemini1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Complaint replier Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Complaint replier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Insert RAG Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Website1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint replier Agent": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert RAG Logs": {
      "main": [
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c635bbb1-e02f-467e-b491-19304e0f213e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b00896d6e798efdb616c7036a0b60a37fc954e05a359b6298af912bb007f5b12"
  },
  "id": "9w8we5eoWKfMMs0m",
  "tags": []
}
